<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="register">
<div class="login-form">
    <form action="/register" method="post">
        <h1>Register to DSlack</h1>
        <input type="text" name="username"  placeholder="Username">
        <input type="email" name="email"  placeholder="Email">
        <input type="password" name="password"  placeholder="Password">
        <button>Register</button>
        <a href="/">or Login</a>
    </form>
</div>
</body>
</html>
